Src/OtakuHelperHelperApp/OHHelper/SampleData/AnimesSampleData/AnimesSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.AnimesSampleData" targetNamespace="Expression.Blend.SampleData.AnimesSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnimesSampleData" type="tns:AnimesSampleData" />
  <xs:complexType name="AnimesSampleData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="Eps" type="tns:Eps1" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="Url" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Eps1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="EpsItem1" type="tns:EpsItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EpsItem1">
    <xs:sequence>
      <xs:element name="Ep" type="tns:Ep1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Ep1">
    <xs:attribute name="Number" type="xs:string" />
    <xs:attribute name="Url" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="EpsItem">
    <xs:sequence>
      <xs:element name="Ep" type="tns:Ep" />
      <xs:element name="Eps" type="tns:Eps" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Ep">
    <xs:attribute blend:FormatParameters="2" name="EpNumber" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,12" name="Url" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Eps">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="EpsItem" type="tns:EpsItem" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>